body #page-logo {
  background-color: brown;
  height: 50px; }

body #image-logo {
  height: 50px;
  width: 70px; }

body #sign-name {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-top: -40px; }
