<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <style>
        
        html,body{
            height: 100%;
            width: 100%;
        }
        img{
            height: 500px;
            width: 330px;
            object-fit: cover;
            object-position: top;
        }

    </style>
</head>
<body>
    <h1>Creating a PhotoGraphs</h1>
    <!-- <img src="C:/Users/sumit/OneDrive/Pictures/Camera Roll/IMG_20220814_123122_435.jpg"> -->
    <img src="https://w0.peakpx.com/wallpaper/148/922/HD-wallpaper-doraemon-bad-cartoon-diet-love-nobbita-pizza-shizuka-themes.jpg" alt="">
</body>
</html>