<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>
<body>
    <h1>My School Name</h1>
    <ul>
        <li>Sarswati Sishu Vidhya Mandir</li>
        <li>DR.P.N. Singh Inter College</li>
        <li>Technocrats institute of technology</li>
    </ul>
</body>
</html>