<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign In</h1>

    <form action="/users/create-session" method="post">

        <label for="Uname">Username</label>
        <input type="text" placeholder="Enter Username" name="name" required >


        <label for="password">Password</label>
        <input type="text" placeholder="Enter Password"  name="password" required>


        <button type="submit">Login</button>


    </form>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign In</h1>

    <form action="/users/create-session" method="post">

        <label for="Uname">Username</label>
        <input type="email" placeholder="Enter Username" name="email" required id="UseName">

        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password"  name="password" required id="PasWard">

        <button type="submit">Login</button>

    </form>
</body>
</html>