<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Sign Up</h1>

    <form action="/users/create" method="post">
        <div>
            <label for="Username">Username</label>
            <input type="text" placeholder="Enter Username" name="name" required>
        </div><br>
         
        <div>
            <label for="mail">Email</label>
            <input type="email" placeholder="Enter mail" name="email" required>
        </div><br>


        <div>   
            <label for="password">Password</label>
            <input type="password" placeholder="Enter Password"  name="password" required>
        </div><br>

    
         <div>
             <label for="pwd-repeat">conform_password</label>
             <input type="password" placeholder="confirm_password" name="confirm_password" required>
        </div><br>  
    
    
        <button type="submit">Sign Up</button>   
    
    </form>
    
</body>
</html>