*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
.parent{
    width: 50%;
    height: 80%;
    background-color: #095e6d;
}
.child{
    height: 50%;
    width: 50%;
    background-color: rgb(140, 28, 50);
}